<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>408262620943-gmlajbsgauj5p1qb7f8m2pe352dqjutj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.408262620943-gmlajbsgauj5p1qb7f8m2pe352dqjutj</string>
	<key>API_KEY</key>
	<string>AIzaSyAuCwGLTVS3H-ZOes2c4wfhpBEJVukqs6Y</string>
	<key>GCM_SENDER_ID</key>
	<string>408262620943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.olegnovosad.volunteer</string>
	<key>PROJECT_ID</key>
	<string>volunteer-ukraine</string>
	<key>STORAGE_BUCKET</key>
	<string>volunteer-ukraine.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:408262620943:ios:63c28b59c197655c5af07a</string>
</dict>
</plist>